/* zilla-slab-regular - latin */
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/zilla-slab-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../public/fonts/zilla-slab-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/zilla-slab-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/zilla-slab-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/zilla-slab-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/zilla-slab-v11-latin-regular.svg#ZillaSlab') format('svg'); /* Legacy iOS */
}
/* zilla-slab-500 - latin */
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/zilla-slab-v11-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../public/fonts/zilla-slab-v11-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/zilla-slab-v11-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/zilla-slab-v11-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/zilla-slab-v11-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/zilla-slab-v11-latin-500.svg#ZillaSlab') format('svg'); /* Legacy iOS */
}
/* zilla-slab-600 - latin */
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/zilla-slab-v11-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../public/fonts/zilla-slab-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/zilla-slab-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/zilla-slab-v11-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/zilla-slab-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/zilla-slab-v11-latin-600.svg#ZillaSlab') format('svg'); /* Legacy iOS */
}
/* zilla-slab-700 - latin */
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/zilla-slab-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../public/fonts/zilla-slab-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/zilla-slab-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/zilla-slab-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/zilla-slab-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/zilla-slab-v11-latin-700.svg#ZillaSlab') format('svg'); /* Legacy iOS */
}

.App {
  text-align: center;
  background-color: #928061;
}

.ParkItem {
  background-color: white;
  filter: drop-shadow(0 5px 0.1rem #817050);
}

.wrapper {
  float: right;
  position: sticky;
  top: 115px;
  width: 25vw;
}

.filters-wrapper {
  border-radius: 15px;
  background-color: white;
  width: 100%;
  height: fit-content;
  text-align: left;
  padding: 20px;
  margin: 0 0 20px 0;
  filter: drop-shadow(0 5px 0.1rem #817050);
}

.aggregator {
  border-radius: 15px;
  background-color: white;
  width: 100%;
  min-height: 20vh;
  height: fit-content;
  text-align: right;
  padding: 20px;
  filter: drop-shadow(0 5px 0.1rem #817050);
}

.aggregate {
  font-size: 0.75rem;
}

.reset-button-wrapper {
  text-align: center;
}

.Navbar {
  background-color: #4a5121;
  color: white;
  filter: drop-shadow(0 0 0.5rem #394010);
}

.logo {
  width: 136px;
  height: 80px;
}

.content {
  margin: 10px;
}

.title {
  color: white;
  font-size: 2rem;
  font-family: 'Zilla Slab';
  font-weight: 500;
  text-transform: uppercase;
}

.subtitle {
  font-family: 'Zilla Slab';
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.microtitle {
  font-size: 1rem;
  font-family: 'Zilla Slab';
  text-transform: uppercase;
}

label {
  padding: 0 5px;
}
